body{
    background-color: rgb(0, 0, 0);
    background-image: url("../assets/blue-roof.jpg");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}
.container{
    position: relative;
    margin: 0;
    width: 100%;
    margin: 0;
    min-height: 100%;
    
}
.navigation {
    display: flex;
    width: 60%;
    height: 100%;
}

.right {
    align-items: flex-end;
    justify-content: flex-end;
}

.left {
    width: 40%;
    align-items: center;
    justify-content: flex-start;
}
.main-nav{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.box-container{
    top: 50px;
    max-width: 100%;
    max-height: 100%;   
}
.astext {
    position: relative;
    background:none;
    border:none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    height: 46px;
    margin-right: 10px;
}

.astext:hover{
    color: rgb(240, 250, 94);
}
.rectangle{
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
    border-radius: 47px; 
    width: 45%;
    height: 70%;
    
}
.img{
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background3{
    z-index: -1;
}

.laptop{
    position: relative;
    width: 94px;
    height: 68px;
    top:5px;
}
.job{
    position: relative;
    text-align: left;
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    top: 0;

    color: #FFFFFF;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 750px;
}

.short{
    margin: auto; 
    margin-top: 0;
    margin-bottom: 2%;
    text-align: center center; 
    display: inline-block; 
    vertical-align: middle;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 54px;
    color: #FFFFFF;
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}
.shortdesc{
    position: relative;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    /* margin-bottom:15%; */
    text-align: center;
    vertical-align: middle;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}
.pen{
    position: relative;
    width: 45.83px;
    height: 47px;
}
.computer{
    position: relative;
    width: 51px;
    height: 47px;
}
.job2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
}
.center2{
    height: 1000px;
}
.skills{
    margin: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 100%;
    text-align: center;
}
.row{
    margin-right: none;
    margin-left: none; 
}
.jobcol{
    text-align: center;
}
.box-row{
    max-width: 100%;
    margin: none;
}
.box-col{
    height: 50%;
    text-align: center;
}
.funfact{
    width: 90%;
    height: 100%;
    background-color: #FFFFFF;
}
.main-more{
    height: 100%;
}
.abi-keren{
    max-width: 370px;
    height: 433px;
    margin: 70px;
}
.facttitle{
    margin: 100px;
}
.abi-ganteng{
    width: 370px;
    height: 370px;
    margin-left: 300px; 
}
/* iphone 5 */
/* @media(max-width: 320px){
    .center{
        height: 200px;
    }
    .job2{
        font-size: 5px;
    }
    .box-container{
        top: 15px;
    }
    .skills{
        margin: 2px;
        font-size: 6px;
        line-height: 20px;
    }
    .job{
        font-size: 8px;
        line-height: 12px;
    }
    .astext{
        font-size: 8px
    }
    .laptop{
        width: 64px;
        height: 38px;
    }
    .short{
        font-size: 12px
    }
    .shortdesc{
        font-size: 8px;
        line-height: 15px;
    }
    .box-col{
        height: 50px;
    }
    .bottom{
        align-items: center;
    }
    .rectangle{
        margin-left: 6%;
        height:85%;
        width:70%;
    }
    .computer{
        height: 15px;
        width: 15px;
    }
    .pen{
        height: 15px;
        width: 15px;
    }
} */
/* ipad dan hp */
@media(max-width: 1000px){
    .center{
        height: 200px;
    }
    .job2{
        font-size: 5px;
    }
    .box-container{
        top: 15px;
    }
    .skills{
        margin: 2px;
        font-size: 6px;
        line-height: 20px;
    }
    .job{
        font-size: 8px;
        line-height: 12px;
    }
    .astext{
        font-size: 8px
    }
    .laptop{
        width: 64px;
        height: 38px;
    }
    .short{
        font-size: 10px;
        line-height: 24px;
    }
    .shortdesc{
        font-size: 8px;
        line-height: 15px;
    }
    .box-col{
        height: 50px;
    }
    .bottom{
        align-items: center;
    }
    .rectangle{
        margin-left: 6%;
        height:85%;
        width:70%;
    }
    .computer{
        height: 15px;
        width: 15px;
    }
    .pen{
        height: 15px;
        width: 15px;
    }
    .abi-keren{
        max-width: 100px;
        height: 100px;
        margin: 30px;
    }
    .rec2{
        height: 300px;
        background-color: transparent;
    }
    .facttitle{
        margin: 30px;
        margin-left: 0;
        font-size: 6px;
    }
    .funfact{
        height: 200px;
    }
    .abi-ganteng{
        max-width: 151px;
        max-height: 150px;
        margin-left:0;
    }
    .bio-text{
        color: #FFFFFF;
    }
}
