{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'pages/stylesh.html' %}
    <title>Farrel Alfarabi Saleh's Profile</title>
</head>
<body>
    {% include 'pages/navbar.html' %}

    <div class="center">
        <h2 class="short">Hello, I’m Farrel. Welcome to my website.</h2>
        <h3 class="shortdesc"> I am a Computer Science student from Universitas Indonesia. The world is filled with problems that needs to be solved. It is our duty to solve these problems and i am always happy to help.</h3>
    </div>
    <div class= "center bottom">
        <div class="rectangle">
            <div class="container box-container">
                <div class = "row box-row">
                    <div class="col jobcol">
                        <img src="{% static "assets\design-pic.png" %}" class="pen">
                    </div>
                    <div class="col jobcol">
                        <img src="{% static "assets\pc.svg" %}" class="computer">
                    </div>
                </div>
                <div class="row box-row">
                    <div class="col jobcol">
                        <article class="job2">Designer</article>
                    </div>
                    <div class="col jobcol">
                        <article class="job2">Programmer</article>
                    </div>
                </div>
                <div class="row box-row">
                    <div class="col box-col">
                        <article class="skills">Things I enjoy designing:<br> UX, UI, Web, Mobile, Apps, Logos</article>
                    </div>
                    <div class="col box-col">
                        <article class="skills">Things I enjoy creating:<br> Games, Websites, Apps </article>
                    </div>
                </div>
                <div class="row box-row">
                    <div class="col box-col">
                        <article class="skills">Design Tools: Figma Marvel Pen & Paper</article>
                    </div>
                    <div class="col box-col">
                        <article class="skills">Programming Tools: Java Python HTML</article>
                    </div>
                </div>
            </div>
    </div>
    </div>
</body>
</html>       