<!-- <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {% include 'pages/stylesh.html' %}
        <title>Farrel Alfarabi Saleh's Schedule</title>
    </head>
    <body>
        {% include 'pages/navbar.html' %}
        <h1 style="text-align: center">SUBMIT YOUR ACTIVITES</h1>
        <div>
            <form method="post">
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
                <button type="submit">Submit</button>
            </form>
        </div>
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Category</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{post.kegiatan}}</td>
                        <td>{{post.kategori}}</td>
                        <td>{{post.tempat}}</td>
                        <td>{{post.tanggal}}</td>
                        <td><a href="{% url 'story:delete' post.id %}"class="btn-outline btn-danger">Delete</a></td>

                    </tr>
                    {%endfor%}
                </tbody>
              </table> 
    </body>
    </html>  