{% load staticfiles %}
<nav class="main-nav">
    <div class="navigation left">
        <h1 class="job">WEB DESIGNER <br>& PROGRAMMER</h1>
        <img src="{% static "assets\Laptop-Free-Download-PNG.png" %}" class="laptop"> 
    </div>
    <div class="navigation right">
        <button onclick="window.location.href ='../schedule';" class="button astext">MY SCHEDULE</button>
        <button onclick="window.location.href ='../more';" class="button astext">MORE ABOUT ME</button>
        <button onclick="window.location.href ='../bio';" class="button astext">BIO</button>
        <button onclick="window.location.href ='../';" class="button astext">MAIN</button>   
    </div>
</nav>