{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'pages/stylesh.html' %}
    <title>Farrel Alfarabi Saleh's Bio</title>
</head>
<body>
    {% include 'pages/navbar.html' %}
    <div>
        <div class="row center center2">
                <img src="{% static "assets\abi-ganteng.jpg" %}" class="col abi-ganteng">
                <div class="col rectangle rec2">
                        <div class="container box-container">
                            <article class="bio-text">
                                    Full Name: Farrel Alfarabi Saleh <br>Age: 19 <br>Nationality: Indonesia <br>Address: Jln Camar 24 Bintaro, Tangerang Selatan <br>College : Fasilkom UI <br>NPM : 1806186622 <br>Hobby : Film and video game
                            </article>
                        </div>
                </div>
        </div>
    </div>
</body>
</html>   