{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'pages/stylesh.html' %}
    <title>Farrel Alfarabi Saleh's More</title>
</head>
<body>
    {% include 'pages/navbar.html' %}
    <div class="main-more">
        <div class="center">
            <h2 class="short">“It’s not who I am underneath, but what I do that defines me.”</h2>
        </div>
    </div>
    <div class="row funfact">
        <img src="{% static "assets\abi-keren-blur.jpg" %}" class="col abi-keren">
        <h3 class="col facttitle">A few fun facts about myself: <br><br>My friends call me Abi.<br><br> I have a passion for programming and film.<br><br> My favorite number is 420.<br><br> I spend my lone time watching movies and playing video games.<br><br> I would like to say that i am an ambivert. </h3>
    </div>
</body>
</html>   