{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel='stylesheet' href="{% static 'bootstrap\css\bootstrap.css' %}">
<link rel='stylesheet' href="{% static 'css\story3css.css' %}">